In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.DataFrame({'status':['single','married','seprate','single','married','seprate','single','seprate']})

In [4]:
df

    status
0   single
1  married
2  seprate
3   single
4  married
5  seprate
6   single
7  seprate

In [5]:
encoder = OneHotEncoder()

In [6]:
encoder

OneHotEncoder()

In [10]:
encoded = encoder.fit_transform(df[['status']]).toarray()

In [13]:
encoder.get_feature_names_out()

array(['status_married', 'status_seprate', 'status_single'], dtype=object)

In [16]:
encoder_df = pd.DataFrame(encoded,columns =encoder.get_feature_names_out())

In [17]:
encoder_df

   status_married  status_seprate  status_single
0             0.0             0.0            1.0
1             1.0             0.0            0.0
2             0.0             1.0            0.0
3             0.0             0.0            1.0
4             1.0             0.0            0.0
5             0.0             1.0            0.0
6             0.0             0.0            1.0
7             0.0             1.0            0.0

In [18]:
#new data
encoder.transform([['single']]).toarray()

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[0., 0., 1.]])

In [19]:
encoder_df

   status_married  status_seprate  status_single
0             0.0             0.0            1.0
1             1.0             0.0            0.0
2             0.0             1.0            0.0
3             0.0             0.0            1.0
4             1.0             0.0            0.0
5             0.0             1.0            0.0
6             0.0             0.0            1.0
7             0.0             1.0            0.0

In [20]:
pd.concat([df,encoder_df],axis = 1)

    status  status_married  status_seprate  status_single
0   single             0.0             0.0            1.0
1  married             1.0             0.0            0.0
2  seprate             0.0             1.0            0.0
3   single             0.0             0.0            1.0
4  married             1.0             0.0            0.0
5  seprate             0.0             1.0            0.0
6   single             0.0             0.0            1.0
7  seprate             0.0             1.0            0.0

In [21]:
#pd.get_dummies()

In [22]:
import seaborn as sns
sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [23]:
#label encoding

In [24]:
df

    status
0   single
1  married
2  seprate
3   single
4  married
5  seprate
6   single
7  seprate

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
label_encoder = LabelEncoder()

In [27]:
label_encoder

LabelEncoder()

In [30]:
label_encoder.fit_transform(df[['status']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 0, 1, 2, 1])

In [31]:
label_encoder.fit_transform([['seprated']])

array([0])

In [32]:
#ordinal encoding

#hs-1
#graduate - 2
#college - 3
#phd - 4

In [33]:
from sklearn.preprocessing import OrdinalEncoder

In [34]:
df = pd.DataFrame({'qualifications':["HS","CL","GR","PHD","HS","CL","GR","PHD","HS","CL","GR","PHD"]})

In [35]:
df

   qualifications
0              HS
1              CL
2              GR
3             PHD
4              HS
5              CL
6              GR
7             PHD
8              HS
9              CL
10             GR
11            PHD

In [36]:
encoder = OrdinalEncoder(categories=[["HS","GR","CL","PHD"]])

In [37]:
encoder

OrdinalEncoder(categories=[['HS', 'GR', 'CL', 'PHD']])

In [38]:
encoder.fit_transform(df[['qualifications']])

array([[0.],
       [2.],
       [1.],
       [3.],
       [0.],
       [2.],
       [1.],
       [3.],
       [0.],
       [2.],
       [1.],
       [3.]])

In [39]:
encoder.transform([['GR']])

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[1.]])

In [45]:
df = pd.DataFrame({'time':['lunch','dinner','breakfast','lunch','dinner','breakfast','lunch','dinner','breakfast'],
             'total_bill':[120,130,150,160,150,130,156,130,190]
             })

In [46]:
mean_price = df.groupby('time')['total_bill'].mean().to_dict()

In [47]:
df

        time  total_bill
0      lunch         120
1     dinner         130
2  breakfast         150
3      lunch         160
4     dinner         150
5  breakfast         130
6      lunch         156
7     dinner         130
8  breakfast         190

In [48]:
mean_price

{'breakfast': 156.66666666666666,
 'dinner': 136.66666666666666,
 'lunch': 145.33333333333334}

In [49]:
df['time_encoded'] = df['time'].map(mean_price)

In [50]:
df['time_encoded']

0    145.333333
1    136.666667
2    156.666667
3    145.333333
4    136.666667
5    156.666667
6    145.333333
7    136.666667
8    156.666667
Name: time_encoded, dtype: float64